<form [formGroup]="cadastro" (ngSubmit)="salvar()" (ngReset)="reiniciarForm()" >
    <div class="container">
      
        <app-input-text [formGroup]="cadastro"ControlName="titulo" titulo="Titulo *"></app-input-text>
        <app-input-text [formGroup]="cadastro" ControlName="urlFoto" titulo="LinkFoto"></app-input-text>

  <!--  <mat-form-field class="full-width">
        <mat-label>Link foto</mat-label>
        <input matInput formControlName="LinkFoto">
        <mat-error *ngIf="validation.hasErrorValidation(f.LinkFoto,'minlength')">maximo de 10 caracteres</mat-error>
    </mat-form-field>-->

    <app-input-date [formGroup]="cadastro" controlName="DatadeLançamento" titulo="Data de Lançamento *"></app-input-date>
   

  <!--  <mat-form-field class="full-width">
        <mat-label>descricao</mat-label>
        <input  matInput type="text" formControlName="descricao">
        <mat-error *ngIf="validation.hasErrorValidation(f.descricao,'minlength')">No minimo 12 caracteres</mat-error>  
    </mat-form-field>-->

    <app-input-text [formGroup]="cadastro" ControlName="descricao" titulo="Descricao"></app-input-text>

    <app-input-number [formGroup]="cadastro" ControlName="NotaIMDb" tituloPlacehouder="Nota IMDb *" [contador]="0.1"></app-input-number>

  <!-- <mat-form-field class="full-width">
        <mat-label>Nota IMDb *</mat-label>
        <input  matInput type="number" step="0.1"
         formControlName="NotaIMDb">
         <mat-error *ngIf="validation.hasErrorValidation(f.NotaIMDb,' required')" >Campo obrigatorio</mat-error>
         <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.NotaIMDb.errors?.max" >Nota maxima ate 10</mat-error>
         <mat-error *ngIf="(cadastro.touched || cadastro.dirty) && f.NotaIMDb.errors?.min" >Nota minima  0</mat-error>
    </mat-form-field>--> 
    
    <app-input-text [formGroup]="cadastro" ControlName="urlIMDb" titulo="urlIMDb" ></app-input-text>
    <app-input-select [formGroup]="cadastro" [opcoes]="generos" controlName="genero" titulo="Genero *"></app-input-select>

    
    <div class="container">
        <button type="submit" class="btn btn-primary me-3">Save</button>
        <button type="reset" class="btn btn-danger">delete</button>
    </div>
</div>
</form>