  <div class="modal-dialog">
        <h3 class="modal-title">{{Alert.titulo}}</h3>
        <p>{{Alert.descricao}}</p>
      <div class="container" mat-dialog-actions>    
         <button  
                  mat-raised-button
                  [mat-dialog-close]="Alert.SaveValue"
                  [class]="Alert.corBtnSave" 
                  *ngIf="Alert.possuiSave">
                  {{ Alert.BtnText }}
            </button>
         <button  type="button"
                  mat-raised-button
                  [mat-dialog-close]="Alert.CloseValue"
                  [class]="Alert.corBtnCancelar" 
                  *ngIf="Alert.possuiFechar"
                  (click)="onNoClick()">
                  {{ Alert.BtnTextClose }}
            </button>
      </div>
 
  
  </div>
