<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters" *ngIf="filme; else semRegistro">
          <div class="col-md-4">
            <img [src]="filme.urlFoto || semFoto" class="card-img" >
          </div>
          <div class="col-md-8">
            
            <div class="card-body">
                <div class="spacing width-100 mb-3">
                    <h2 class="card-title">{{filme.titulo}}</h2>
                    <h4 class="card-title">{{filme.genero}}</h4>
                </div>
                <p class="card-text">{{filme.descricao}}</p>
                <app-star [pontuacao]="filme.nota"></app-star>
                <p class="card-text"><small class="text-muted">{{filme.dtLancamento | date: 'dd/MM/yyyy'}}</small></p>
            </div>
            <div class="container">
                <a type="button" class="btn btn-info me-3"(click)="Edit()">Edit</a>
                <a type="button" class="btn btn-danger" (click)="excluir()">Delete</a>
            </div>
          </div>
        </div>
      </div>
      <!--conteudo generico-->
      <ng-template #semRegistro>
        <div class="jumbotron jumbotron-fluid bg-secondary text-light">
          <div class="container">
            <h1 class="display-4">Nenhum Registro encontrado</h1>
            <p class="lead">Tente procurar por outros filmes</p>
          </div>
          <hr class="my-4">
        </div>
      </ng-template>
</div>